{% extends 'blog/base.html' %}
{% block blog_content %}
    <!-- <div class="container">
        <div class="row">
            
            {% for project in projects %}
                <div class="col-4">
                    <article>
                        <div class="image featured">
                            <img src="{{project.image.url}}" alt="" />
                        </div>
                        <header>
                            <h3>{{ project.title }}</h3>
                        </header>
                        <p>{{ project.description }}</p>
                    </article>
                </div>
            {% endfor %}

        </div>
    </div> -->
    <div class="container">
        <div class="grid">
            {% for photo in photos %}
                <img src="{{photo.url}}" />
            {% endfor %}
        </div>
    </div>
    
{% endblock %}
