.no-sidebar #header {
    background: #1c0920;
}

/* Photo Grid */
.grid {
    /* grid-gap: 10px; */
    justify-content: center;
    align-items: center;
}

.grid img {
    width: 350px;
    height: 350px;
    cursor: pointer;
}

#lightbox {
    position: fixed;
    z-index: 1000;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.8);
    display: none;
}

#lightbox.active {
    display: flex;
    justify-content: center;
    align-items: center;
}

#lightbox img {
    max-width: 90%;
    max-height: 80%;
    padding: 4px;
    background-color: #000;
    border: 2px solid #fff;
}